<body>
    
  <header class="site-header sticky-top py-1">
    <nav class="navbar container navbar-light  d-flex flex-column flex-md-row ">
      <a class="py-2" href="#" style="align-items: center;">
        <h3>Hunt the Wumpus</h3>
      </a>
    </nav>
  </header>
  
  <main>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>

  </main>
  
  <footer class="site-header sticky-top py-1" style="background-color: grey;">
    <div class="row" >
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted" style="margin: 10px;">By Ronald Chavez</small>
      </div>
    </div>
  </footer>
  
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>