<body>
    
  <app-header></app-header>
  
  <main>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Game</h2>
          <p class="lead">Play the game here</p>
        </div>
        <div class=" shadow-sm mx-auto" style="margin-bottom: 50px; width: 80%; height: 300px; background-color: blueviolet;">
          <div class="container">

            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
      <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Instructions</h2>
          <p class="lead">Read carefully all the instructions here</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" >
          <h6 style="color: aliceblue;">1. Rule number 1</h6>
          <h6 style="color: aliceblue;">2. Rule number 2</h6>
        </div>
      </div>
    </div>

  </main>
  
  <app-footer></app-footer>
  
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>